
.container{
img{
    width:400px;
   height:400px;
}
    display: grid;
    grid-template-columns: auto auto auto auto;
    // grid-template-rows: 150px 150px 150px;
    // grid-template-columns: repeat(4, 1fr);
}