// Router

.route{

    position:fixed;
    z-index: 10;
  height: 7em;
  width: 100%;
 background: lightyellow;
 background: linear-gradient(to bottom, #0020 , turquoise);
  box-sizing: border-box;
//   padding: 12px 18px;
  box-shadow: 0px 4px 7px pink;
  transition: background-color 0.4s ease-out;
    .flex{
        align-items: center;
justify-content: center;
        display: flex;
        flex-direction: row;
        // margin:10px 20px;
        .link{
            font-size: large;
            font-family: Impact;
             padding :8px 6px;
            // margin: auto auto;
           
        }
        .link:hover{
            background: linear-gradient(to bottom, #0020 , #b19cd9);
        }
    }

}


.gridContainer{
    padding-top: 150px;
    // background-color: transparent;
    display: grid;
    grid-template-columns: auto auto auto auto;
    .imagecontainer{
        border:20px solid white;
         border-bottom:30px solid white;
        box-sizing: border-box;
         box-shadow: 0px 4px 7px #777;
img{
   
    width:300px;
   height:300px;
}
   
   button{
    position: relative;
    font-family: cursive;
    color:white;
    font-size: large;
    font-weight: bold;
    width:80px;
    height:30px;
    margin: 10px 40px;
    background: linear-gradient(to bottom, rgba(25, 25, 134, 0) , purple);
     box-sizing: border-box;

   }
}
}

// Bookmark
.Container{
    background-color: whitesmoke;
    .GridContainer{
        padding-top: 150px;
        
          background-color: white;
        display: Grid;
        grid-template-columns: auto auto auto auto;
        .imageContainer{
            border:20px solid white;
             border-bottom:30px solid white;
            box-sizing: border-box;
             box-shadow: 0px 4px 7px #777;
        img{
           
            width:300px;
           height:400px;
        }
        button{
position: relative;
font-family: cursive;
color:white;
font-size: large;
font-weight: bold;
width:80px;
height:30px;
margin: 10px 40px;
background: linear-gradient(to bottom, rgba(25, 25, 134, 0) , purple);
 box-sizing: border-box;
//  box-shadow: 0px 4px 7px #f4bdc0;
        }
    }
    
    }
    .modal{
        position:fixed;
         display: none;
        flex-direction: column;
        margin: 250px auto;
        border: 5px solid purple;
        box-sizing: border-box;
        box-shadow: 0px 4px 7px pink;
        width:50%;
        height:60%;
        top:-60px;
        left:360px;
       background-color:whitesmoke;
       z-index:5;     
      // background: linear-gradient(to bottom, #0020 , #b19cd9);
        // background-color: whitesmoke;
         
        //  transform: translate(-50%,-50%);
        h1{
            position: absolute;
            top:-90px;
            left:-30px;

            background: linear-gradient(to bottom, #0020 , turquoise);
        }
        .closebtn{
            background: linear-gradient(to bottom, rgba(25, 25, 134, 0) , purple); 
            position:absolute;
            top:-70px;
            left:-150px; 
            font-size: x-large; 
        }
        .modalbtn{
            background: linear-gradient(to bottom, rgba(25, 25, 134, 0) , purple);
            position:absolute;
            top:200px;
            left:120px; 
            font-size: x-large; 
            font-family:cursive;
        }
        #url{
            position:absolute;
            background-color: white;
            top:70px;
            width:500px;
            left:-60px; 
        }
    }

}

// Login

.App{
    background-color: whitesmoke;
     background: linear-gradient(to bottom, rgba(25, 25, 134, 0) , #CCCCFF);
    width:100%;
    height:100%;
    position: absolute;
     text-align: center;
    // left:180px;
    // top:100px;
    
//     body {font-family: Arial, Helvetica, sans-serif;}
// * {box-sizing: border-box}

form{
    width:70%;
    height:60%;
    position: relative;
    left:180px;
    top:100px;
    display:flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
    text-align: center;
    
h1{
    background: linear-gradient(to bottom, #0020 , turquoise);
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  text-align: center;
  padding: 15px;
  margin: 5px 0 22px 0;
 display: block;
  border: none;
  background: #f1f1f1;
  position: relative;;
  left:220px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signinbtn {
//   background-color: #4CAF50;
  position: relative;
  left:230px;
   padding: 12px 0px;
   margin: 8px 7px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(25, 25, 134, 0) , purple);
//    width: 30%;
 
}

// button:hover {
//   opacity:1;
// }



/* Float cancel and signup buttons and add an equal width */
 .signinbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

}
}
