// Router

.route{

    position:fixed;
    z-index: 10;

  height: 7em;
  width: 100%;
 background: lightyellow;
 background: linear-gradient(to bottom, #0020 , turquoise);
  box-sizing: border-box;
//   padding: 12px 18px;
  box-shadow: 0px 4px 7px pink;
  transition: background-color 0.4s ease-out;
    .flex{
        align-items: center;
justify-content: center;
        display: flex;
        flex-direction: row;
        // margin:10px 20px;
        .link{
            font-size: large;
            font-family: Impact;
             padding :8px 6px;
            // margin: auto auto;
           
        }
        .link:hover{
            background: linear-gradient(to bottom, #0020 , #b19cd9);
        }
    }

}


.gridContainer{
    padding-top: 50px;
    background-color: transparent;
img{
    margin: #111;
    width:400px;
   height:400px;
}
    display: grid;
    grid-template-columns: auto auto auto auto;
    // grid-template-rows: 150px 150px 150px;
    // grid-template-columns: repeat(4, 1fr);
}

// Bookmark
.Container{
    background-color: whitesmoke;
    .GridContainer{
        padding-top: 150px;
        
          background-color: white;
        display: Grid;
        grid-template-columns: auto auto auto auto;
        .imageContainer{
            border:20px solid white;
             border-bottom:30px solid white;
            box-sizing: border-box;
             box-shadow: 0px 4px 7px #777;
        img{
           
            width:300px;
           height:400px;
        }
        button{
position: relative;
font-family: cursive;
color:white;
font-size: large;
font-weight: bold;
width:80px;
height:30px;
margin: 10px 40px;
background: linear-gradient(to bottom, rgba(25, 25, 134, 0) , purple);
 box-sizing: border-box;
//  box-shadow: 0px 4px 7px #f4bdc0;
        }
    }
    
    }
    .modal{
        position:fixed;
         display: flex;
        flex-direction: column;
        margin: 250px auto;
        border: 5px solid black;
        box-sizing: border-box;
        box-shadow: 0px 4px 7px #777;
        width:50%;
        height:25%;
        top:-60px;
        left:360px;
       background-color:rgb(170, 247, 170);
       z-index:5;     
      // background: linear-gradient(to bottom, #0020 , #b19cd9);
        // background-color: whitesmoke;
         display: none;
        //  transform: translate(-50%,-50%);
        h1{

            background-color: whitesmoke;
        }
    }

}